{% include 'header.html' %} {% load static %}
 <!-- Mobile Responsive Menu -->
 <div class="mr_menu">
    <button type="button" class="mr_menu_close"><i class="bi bi-x-lg"></i></button>
    <div class="logo"></div> <!-- Keep this div empty. Logo will come here by JavaScript -->
    <div class="mr_navmenu"></div> <!-- Keep this div empty. Menu will come here by JavaScript -->
</div>

<div class="aside_info_wrapper">
    <button class="aside_close"><i class="bi bi-x-lg"></i></button>
    <div class="aside_logo">
        <a href="index.html"><img src="/static/img/logo.svg" alt="logo"></a>
    </div>
    <div class="aside_info_inner">

        <p>When you bring your vehicle to Ducatibox Car Mechanic Center, you can rest easy knowing that your vehicle is in professional hands.</p>

        <div class="aside_info_inner_box">
            <div class="wptb-office">
                <div class="wptb-item--inner">
                    <div class="wptb-item--subtitle">
                        Call Us Anytime
                    </div>
                    <h5 class="wptb-item--title"><a href="tel:+12345677345">+123 45677345</a></h5>
                </div>
            </div>

            <div class="wptb-office">
                <div class="wptb-item--inner">
                    <div class="wptb-item--subtitle">
                        SEND US MAIL
                    </div>
                    <h5 class="wptb-item--title"><a href="mailto:ducatiboxcar@email.com">ducatiboxcar@email.com</a></h5>
                </div>
            </div>

            <div class="wptb-office">
                <div class="wptb-item--inner">
                    <div class="wptb-item--subtitle">
                        VISIT OUR WORKSHOP
                    </div>
                    <h5 class="wptb-item--title"><a href="#">17110 116th Ave SE Unit A
                        Renton, WA 98058-5055</a></h5>
                </div>
            </div>
        </div>
        <div class="social_sites">
            <ul class="d-flex align-items-center">
                <li><a href="#"><i class="bi bi-facebook"></i></a></li>
                <li><a href="#"><i class="bi bi-twitter-x"></i></a></li>
                <li><a href="#"><i class="bi bi-instagram"></i></a></li>
                <li><a href="#"><i class="bi bi-linkedin"></i></a></li>
            </ul>
        </div>
    </div>
</div>

<!-- Main Wrapper-->
<main class="wrapper">
    <!-- Page Header -->
    <div class="wptb-page-heading" style="background-image: url('/static/img/background/page-header-bg.jpg');">
        <div class="container">
            <div class="wptb-item--inner">
                <h2 class="wptb-item--title ">Contact Us</h2>
                <div class="wptb-breadcrumb-wrap">
                    <ul class="wptb-breadcrumb">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Pages</a></li>
                        <li><span>Contact Us</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- Contact Us -->
    <section class="pd-bottom-300">
        <div class="container">
            <div class="wptb-office-address mr-bottom-90">
                <div class="row">
                    <div class="col-md-4 pe-md-0">
                        <div class="widget">
                            <h2 class="widget-title">Phone No</h2>
                            
                            <div class="wptb-office">
                                <div class="wptb-item--inner">
                                    <div class="wptb-item--subtitle">
                                        Call Us Anytime
                                    </div>
                                    <h5 class="wptb-item--title"><a href="tel:+12345677345">+123 45677345</a></h5>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 p-md-0">
                        <div class="widget">
                            <h2 class="widget-title">Email</h2>

                            <div class="wptb-office">
                                <div class="wptb-item--inner">
                                    <div class="wptb-item--subtitle">
                                        SEND US MAIL
                                    </div>
                                    <h5 class="wptb-item--title"><a href="mailto:ducatiboxcar@email.com">ducatiboxcar@email.com</a></h5>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 ps-md-0">
                        <div class="widget">
                            <h2 class="widget-title">Address</h2>

                            <div class="wptb-office">
                                <div class="wptb-item--inner">
                                    <div class="wptb-item--subtitle">
                                        VISIT OUR WORKSHOP
                                    </div>
                                    <h5 class="wptb-item--title"><a href="#">17110 116th Ave SE Unit A
                                        Renton, WA 98058-5055</a></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="gmapbox wow fadeInUp">
                <div id="googleMap" class="map"></div>

                <div class="wptb-office-time">
                    <div class="wptb-item--inner">
                        <div class="wptb-item">
                            <span class="wptb-item--day">Monday</span> <span class="wptb-item--time">9am - 7pm</span>
                        </div>
                        <div class="wptb-item">
                            <span class="wptb-item--day">Tuesday</span> <span class="wptb-item--time">9am - 7pm</span>
                        </div>
                        <div class="wptb-item">
                            <span class="wptb-item--day">Wednesday</span> <span class="wptb-item--time">9am - 7pm</span>
                        </div>
                        <div class="wptb-item">
                            <span class="wptb-item--day">Thursday</span> <span class="wptb-item--time">9am - 7pm</span>
                        </div>
                        <div class="wptb-item">
                            <span class="wptb-item--day">Friday</span> <span class="wptb-item--time">9am - 7pm</span>
                        </div>
                        <div class="wptb-item">
                            <span class="wptb-item--day">Saturday</span> <span class="wptb-item--time">9am - 7pm</span>
                        </div>
                        <div class="wptb-item holiday">
                            <span class="wptb-item--day">Sunday</span> <span class="wptb-item--time">Closed</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="wptb-contact-form-two mr-top-100">
                <div class="wptb-form--wrapper">
                    <div class="row">
                        <div class="col-lg-5 col-md-6">
                            <div class="wptb-heading">
                                <div class="wptb-item--inner">
                                    <h6 class="wptb-item--subtitle">
                                        SEND US MAIL
                                    </h6>
                                    <h1 class="wptb-item--title"> Feel Free To Ask Anything
                                        For Car Servicing</h1>
                                    <div class="wptb-item--divider"></div>
                                    <div class="wptb-item--description">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse interdum nulla eu posuere scelerisque. Donec sagittis adipiscing elit.
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-7 col-md-6">
                            <form class="wptb-form" action="https://wpthemebooster.com/demo/themeforest/html/ducatibox/contact.php" method="post">
                                <div class="wptb-form--inner">        
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 mb-4">
                                            <div class="form-group">
                                                <input type="text" name="name" class="form-control" placeholder="Name*" required>
                                            </div>
                                        </div>

                                        <div class="col-lg-6 col-md-6 mb-4">
                                            <div class="form-group">
                                                <input type="email" name="email" class="form-control" placeholder="E-mail*" required>
                                            </div>
                                        </div>

                                        <div class="col-lg-12 col-md-12 mb-4">
                                            <div class="form-group">
                                                <input type="text" name="subject" class="form-control" placeholder="Subject">
                                            </div>
                                        </div>

                                        <div class="col-md-12 col-lg-12 mb-4">
                                            <div class="form-group">
                                                <textarea name="message" class="form-control" placeholder="Text"></textarea>
                                            </div>
                                        </div>

                                        <div class="col-md-12 col-lg-12">
                                            <div class="wptb-item--button"> 
                                                <button class="btn-two white" type="submit">
                                                    <div class="btn-wrap">
                                                        <span class="text-first"> Send Mail </span> 
                                                        <span class="text-second"> <i class="bi bi-plus"></i> </span> 
                                                    </div> 
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>					
        </div>
    </section>

    

</main>

{% include 'footer.html' %} {% include 'script.html' %}