<!-- Footer -->
<footer class="footer style1">
  

  <!-- Footer Bottom Part -->
  <div class="footer-bottom">
    <div class="container">
      <div class="footer-bottom-inner">
        <div class="copyright">
          <p>
            &copy;Copyright 2024
            <a href="https://themeforest.net/user/wpthemebooster">DUCATIBOX</a>.
            All rights reserved
          </p>
        </div>
        <div class="social-box">
          <ul>
            <li>
              <a href="https://www.facebook.com/" class="bi bi-facebook"></a>
            </li>
            <li>
              <a href="https://www.instagram.com/" class="bi bi-instagram"></a>
            </li>
            <li>
              <a href="https://www.linkedin.com/" class="bi bi-linkedin"></a>
            </li>
            <li>
              <a href="https://www.behance.com/" class="bi bi-behance"></a>
            </li>
          </ul>
        </div>
        <div class="footer-nav-bottom">
          <ul>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Term of Use</a></li>
            <li><a href="#">Support</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>

<div class="totop">
  <a href="#"><i class="bi bi-chevron-up"></i></a>
</div>
