{% include 'header.html' %} {% load static %}
<!-- Mobile Responsive Menu -->


    <!-- My Account -->
    <section class="pd-bottom-300">
        <div class="container">

            <div class="wptb-login-form">
                <div class="wptb-form--wrapper">
                    <div class="row">
                        <div class="col-lg-8 col-md-10 offset-lg-2 offset-md-1">
                            <div class="wptb-heading">
                                <div class="wptb-item--inner">
                                    <h1 class="wptb-item--title"> Log In</h1>
                                </div>
                            </div>

                            <form class="wptb-form" action="https://wpthemebooster.com/demo/themeforest/html/ducatibox/contact.php" method="post">
                                <div class="wptb-form--inner">        
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 mb-4">
                                            <div class="form-group">
                                                <input type="text" name="name" class="form-control" placeholder="User Name or E-mail Address" required>
                                            </div>
                                        </div>

                                        <div class="col-lg-12 col-md-12 mb-4">
                                            <div class="form-group">
                                                <input type="password" name="password" class="form-control" placeholder="Password">
                                            </div>
                                        </div>

                                        <div class="col-md-12 col-lg-12">
                                            <div class="form-group">
                                                <input type="checkbox" name="remmeber">
                                                <label for="remmeber" class="text-capitalize">Remmeber Password</label>
                                            </div>

                                            <div class="wptb-item--button mt-4"> 
                                                <button class="btn-two white" type="submit">
                                                    <div class="btn-wrap">
                                                        <span class="text-first"> Login </span> 
                                                        <span class="text-second"> <i class="bi bi-plus"></i> </span> 
                                                    </div> 
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>					
        </div>
    </section>

    

</main>
{% include 'footer.html' %} {% include 'script.html' %}