{% include 'header.html' %} {% load static %}
<!-- Mobile Responsive Menu -->
<div class="mr_menu">
    <button type="button" class="mr_menu_close"><i class="bi bi-x-lg"></i></button>
    <div class="logo"></div> <!-- Keep this div empty. Logo will come here by JavaScript -->
    <div class="mr_navmenu"></div> <!-- Keep this div empty. Menu will come here by JavaScript -->
</div>

<div class="aside_info_wrapper">
    <button class="aside_close"><i class="bi bi-x-lg"></i></button>
    <div class="aside_logo">
        <a href="index.html"><img src="/static/img/logo.svg" alt="logo"></a>
    </div>
    <div class="aside_info_inner">

        <p>When you bring your vehicle to Ducatibox Car Mechanic Center, you can rest easy knowing that your vehicle is in professional hands.</p>

        <div class="aside_info_inner_box">
            <div class="wptb-office">
                <div class="wptb-item--inner">
                    <div class="wptb-item--subtitle">
                        Call Us Anytime
                    </div>
                    <h5 class="wptb-item--title"><a href="tel:+12345677345">+123 45677345</a></h5>
                </div>
            </div>

            <div class="wptb-office">
                <div class="wptb-item--inner">
                    <div class="wptb-item--subtitle">
                        SEND US MAIL
                    </div>
                    <h5 class="wptb-item--title"><a href="mailto:ducatiboxcar@email.com">ducatiboxcar@email.com</a></h5>
                </div>
            </div>

            <div class="wptb-office">
                <div class="wptb-item--inner">
                    <div class="wptb-item--subtitle">
                        VISIT OUR WORKSHOP
                    </div>
                    <h5 class="wptb-item--title"><a href="#">17110 116th Ave SE Unit A
                        Renton, WA 98058-5055</a></h5>
                </div>
            </div>
        </div>
        <div class="social_sites">
            <ul class="d-flex align-items-center">
                <li><a href="#"><i class="bi bi-facebook"></i></a></li>
                <li><a href="#"><i class="bi bi-twitter-x"></i></a></li>
                <li><a href="#"><i class="bi bi-instagram"></i></a></li>
                <li><a href="#"><i class="bi bi-linkedin"></i></a></li>
            </ul>
        </div>
    </div>
</div>

<!-- Main Wrapper-->
<main class="wrapper">
    <!-- Page Header -->
    <div class="wptb-page-heading" style="background-image: url('/static/img/background/page-header-bg.jpg');">
        <div class="container">
            <div class="wptb-item--inner">
                <h2 class="wptb-item--title ">Our Team</h2>
                <div class="wptb-breadcrumb-wrap">
                    <ul class="wptb-breadcrumb">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Pages</a></li>
                        <li><span>Our Team</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- Our Team -->
    <section class="wptb-team-one pd-bottom-300">
        <div class="container">

            <div class="wptb-team--inner">
                <div class="row clearfix">
                    
                    <!-- Team Block -->
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <div class="wptb-team-grid1">
                            <div class="wptb-item--inner">
                                <div class="wptb-item--image">
                                    <img src="/static/img/team/1.jpg" alt="img">
                                </div>
                
                                <div class="wptb-item--holder">
                                    <div class="wptb-item--social">
                                        <a href="#"><i class="bi bi-facebook"></i></a>
                                        <a href="#"><i class="bi bi-twitter"></i></a>
                                        <a href="#"><i class="bi bi-instagram"></i></a>
                                        <a href="#"><i class="bi bi-linkedin"></i></a>
                                    </div>
                                    <div class="wptb-item--meta">
                                        <h5 class="wptb-item--title">Samson Doglus</h5>
                                        <p class="wptb-item--position">Consultant</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                
                    <!-- Team Block -->
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <div class="wptb-team-grid1">
                            <div class="wptb-item--inner">
                                <div class="wptb-item--image">
                                    <img src="/static/img/team/2.jpg" alt="img">
                                </div>
                
                                <div class="wptb-item--holder">
                                    <div class="wptb-item--social">
                                        <a href="#"><i class="bi bi-facebook"></i></a>
                                        <a href="#"><i class="bi bi-twitter"></i></a>
                                        <a href="#"><i class="bi bi-instagram"></i></a>
                                        <a href="#"><i class="bi bi-linkedin"></i></a>
                                    </div>
                                    <div class="wptb-item--meta">
                                        <h5 class="wptb-item--title">Jackson Miller</h5>
                                        <p class="wptb-item--position">Consultant</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                
                    <!-- Team Block -->
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <div class="wptb-team-grid1">
                            <div class="wptb-item--inner">
                                <div class="wptb-item--image">
                                    <img src="/static/img/team/3.jpg" alt="img">
                                </div>
                
                                <div class="wptb-item--holder">
                                    <div class="wptb-item--social">
                                        <a href="#"><i class="bi bi-facebook"></i></a>
                                        <a href="#"><i class="bi bi-twitter"></i></a>
                                        <a href="#"><i class="bi bi-instagram"></i></a>
                                        <a href="#"><i class="bi bi-linkedin"></i></a>
                                    </div>
                                    <div class="wptb-item--meta">
                                        <h5 class="wptb-item--title">Helen Mirren</h5>
                                        <p class="wptb-item--position">Consultant</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                
                    <!-- Team Block -->
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <div class="wptb-team-grid1">
                            <div class="wptb-item--inner">
                                <div class="wptb-item--image">
                                    <img src="/static/img/team/4.jpg" alt="img">
                                </div>
                
                                <div class="wptb-item--holder">
                                    <div class="wptb-item--social">
                                        <a href="#"><i class="bi bi-facebook"></i></a>
                                        <a href="#"><i class="bi bi-twitter"></i></a>
                                        <a href="#"><i class="bi bi-instagram"></i></a>
                                        <a href="#"><i class="bi bi-linkedin"></i></a>
                                    </div>
                                    <div class="wptb-item--meta">
                                        <h5 class="wptb-item--title">Hazel Grace</h5>
                                        <p class="wptb-item--position">Consultant</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                
                    <!-- Team Block -->
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <div class="wptb-team-grid1">
                            <div class="wptb-item--inner">
                                <div class="wptb-item--image">
                                    <img src="/static/img/team/5.jpg" alt="img">
                                </div>
                
                                <div class="wptb-item--holder">
                                    <div class="wptb-item--social">
                                        <a href="#"><i class="bi bi-facebook"></i></a>
                                        <a href="#"><i class="bi bi-twitter"></i></a>
                                        <a href="#"><i class="bi bi-instagram"></i></a>
                                        <a href="#"><i class="bi bi-linkedin"></i></a>
                                    </div>
                                    <div class="wptb-item--meta">
                                        <h5 class="wptb-item--title">Sarah Smith</h5>
                                        <p class="wptb-item--position">Consultant</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                
                    <!-- Team Block -->
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <div class="wptb-team-grid1">
                            <div class="wptb-item--inner">
                                <div class="wptb-item--image">
                                    <img src="/static/img/team/6.jpg" alt="img">
                                </div>
                
                                <div class="wptb-item--holder">
                                    <div class="wptb-item--social">
                                        <a href="#"><i class="bi bi-facebook"></i></a>
                                        <a href="#"><i class="bi bi-twitter"></i></a>
                                        <a href="#"><i class="bi bi-instagram"></i></a>
                                        <a href="#"><i class="bi bi-linkedin"></i></a>
                                    </div>
                                    <div class="wptb-item--meta">
                                        <h5 class="wptb-item--title">Garrison Hall</h5>
                                        <p class="wptb-item--position">Consultant</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                
                    <!-- Team Block -->
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <div class="wptb-team-grid1">
                            <div class="wptb-item--inner">
                                <div class="wptb-item--image">
                                    <img src="/static/img/team/7.jpg" alt="img">
                                </div>
                
                                <div class="wptb-item--holder">
                                    <div class="wptb-item--social">
                                        <a href="#"><i class="bi bi-facebook"></i></a>
                                        <a href="#"><i class="bi bi-twitter"></i></a>
                                        <a href="#"><i class="bi bi-instagram"></i></a>
                                        <a href="#"><i class="bi bi-linkedin"></i></a>
                                    </div>
                                    <div class="wptb-item--meta">
                                        <h5 class="wptb-item--title">Oakland Miller</h5>
                                        <p class="wptb-item--position">Consultant</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                
                    <!-- Team Block -->
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <div class="wptb-team-grid1">
                            <div class="wptb-item--inner">
                                <div class="wptb-item--image">
                                    <img src="/static/img/team/8.jpg" alt="img">
                                </div>
                
                                <div class="wptb-item--holder">
                                    <div class="wptb-item--social">
                                        <a href="#"><i class="bi bi-facebook"></i></a>
                                        <a href="#"><i class="bi bi-twitter"></i></a>
                                        <a href="#"><i class="bi bi-instagram"></i></a>
                                        <a href="#"><i class="bi bi-linkedin"></i></a>
                                    </div>
                                    <div class="wptb-item--meta">
                                        <h5 class="wptb-item--title">John Johnson</h5>
                                        <p class="wptb-item--position">Consultant</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                
                    <!-- Team Block -->
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <div class="wptb-team-grid1">
                            <div class="wptb-item--inner">
                                <div class="wptb-item--image">
                                    <img src="/static/img/team/9.jpg" alt="img">
                                </div>
                
                                <div class="wptb-item--holder">
                                    <div class="wptb-item--social">
                                        <a href="#"><i class="bi bi-facebook"></i></a>
                                        <a href="#"><i class="bi bi-twitter"></i></a>
                                        <a href="#"><i class="bi bi-instagram"></i></a>
                                        <a href="#"><i class="bi bi-linkedin"></i></a>
                                    </div>
                                    <div class="wptb-item--meta">
                                        <h5 class="wptb-item--title">Sarah Pellin</h5>
                                        <p class="wptb-item--position">Consultant</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="wptb-pagination-wrap text-center">
                <ul class="pagination">
                    <li><a class="disabled page-number previous" href="#"><i class="bi bi-chevron-left"></i></a></li>
                    <li><span class="page-number current">1</span></li>
                    <li><a class="page-number" href="#">2</a></li>
                    <li><a class="page-number" href="#">3</a></li>
                    <li>.....</li>
                    <li><a class="page-number" href="#">9</a></li>
                    <li><a class="page-number next" href="#"><i class="bi bi-chevron-right"></i></a></li>
                </ul>
            </div>
        </div>
    </section>

</main>


{% include 'footer.html' %} {% include 'script.html' %}