{% include 'header.html' %} {% load static %}
 <!-- Mobile Responsive Menu -->
 <div class="mr_menu">
    <button type="button" class="mr_menu_close"><i class="bi bi-x-lg"></i></button>
    <div class="logo"></div> <!-- Keep this div empty. Logo will come here by JavaScript -->
    <div class="mr_navmenu"></div> <!-- Keep this div empty. Menu will come here by JavaScript -->
</div>

<div class="aside_info_wrapper">
    <button class="aside_close"><i class="bi bi-x-lg"></i></button>
    <div class="aside_logo">
        <a href="index.html"><img src="/static/img/logo.svg" alt="logo"></a>
    </div>
    <div class="aside_info_inner">

        <p>When you bring your vehicle to Ducatibox Car Mechanic Center, you can rest easy knowing that your vehicle is in professional hands.</p>

        <div class="aside_info_inner_box">
            <div class="wptb-office">
                <div class="wptb-item--inner">
                    <div class="wptb-item--subtitle">
                        Call Us Anytime
                    </div>
                    <h5 class="wptb-item--title"><a href="tel:+12345677345">+123 45677345</a></h5>
                </div>
            </div>

            <div class="wptb-office">
                <div class="wptb-item--inner">
                    <div class="wptb-item--subtitle">
                        SEND US MAIL
                    </div>
                    <h5 class="wptb-item--title"><a href="mailto:ducatiboxcar@email.com">ducatiboxcar@email.com</a></h5>
                </div>
            </div>

            <div class="wptb-office">
                <div class="wptb-item--inner">
                    <div class="wptb-item--subtitle">
                        VISIT OUR WORKSHOP
                    </div>
                    <h5 class="wptb-item--title"><a href="#">17110 116th Ave SE Unit A
                        Renton, WA 98058-5055</a></h5>
                </div>
            </div>
        </div>
        <div class="social_sites">
            <ul class="d-flex align-items-center">
                <li><a href="#"><i class="bi bi-facebook"></i></a></li>
                <li><a href="#"><i class="bi bi-twitter-x"></i></a></li>
                <li><a href="#"><i class="bi bi-instagram"></i></a></li>
                <li><a href="#"><i class="bi bi-linkedin"></i></a></li>
            </ul>
        </div>
    </div>
</div>

<!-- Main Wrapper-->
<main class="wrapper">
    <div class="wptb-page-heading" style="background-image: url('/static/img/background/page-header-bg.jpg');">
        <div class="container">
            <div class="wptb-item--inner">
                <h2 class="wptb-item--title ">Oil Filters</h2>
                <div class="wptb-breadcrumb-wrap">
                    <ul class="wptb-breadcrumb">
                        <li><a href="#">Home</a></li>
                        <li><a href="shop.html">Shop</a></li>
                        <li><span>Oil Filters</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <section class="product_view">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 pe-lg-5">
                    <div class="product_left">
                        <div class="product_zoom">
                            <ul class="product_zoom_button_group">
                                <li class="product_zoom_button">
                                    <a class="selected" href="#" style="background-image: url('/static/img/shop/single/1.png');"></a>
                                </li>
                                <li class="product_zoom_button">
                                    <a href="#" style="background-image: url('/static/img/shop/single/2.png');"></a>
                                </li>
                                <li class="product_zoom_button">
                                    <a href="#" style="background-image: url('/static/img/shop/single/3.png');"></a>
                                </li>
                                <li class="product_zoom_button">
                                    <a href="#" style="background-image: url('/static/img/shop/single/4.png');"></a>
                                </li>
                            </ul>
                        
                            <div  class="product_zoom_container">
                                <div class="product_zoom_info selected">
                                    <div class="product_image_zoom">
                                        <img src="/static/img/shop/single/1.png" alt="img">
                                    </div>
                                </div>
                        
                                <div class="product_zoom_info">
                                    <div class="product_image_zoom">
                                        <img src="/static/img/shop/single/2.png" alt="img">
                                    </div>
                                </div>
                        
                                <div class="product_zoom_info">
                                    <div class="product_image_zoom">
                                        <img src="/static/img/shop/single/3.png" alt="img">
                                    </div>
                                </div>
                        
                                <div class="product_zoom_info">
                                    <div class="product_image_zoom">
                                        <img src="/static/img/shop/single/4.png" alt="img">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 ps-lg-0 pe-lg-5">
                    <div class="product_right">
                        <div class="product_info">
                            <h2 class="product_title">Oil Filters</h2>
                            <div class="product_rating">
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-half"></i>
                                <i class="bi bi-star"></i>
                                <div class="product_rating_details">(35 Customer Reviews)</div>
                            </div>
                        </div>
                        <div class="product_price">
                                <span class="product_per_price" data-price="15.00"></span> $<span class="product_total_price">15.00</span>
                        </div>
                        <div class="product_description">
                            Ut enim ad minima veniam, quis nostrum exercitationem corporis commosequatur? Quis autem vel eum iure veniam, quis nostrum sequatur? Quis autem vel eum iure...
                        </div>
                        <div class="product_view_bottom">
                            <div class="product_quantity">
                                <div class="pproduct_quantity_label">Quantity</div>
                                <div class="product_quantity_inner">
                                    <span class="qty_btn product_quantity_subtract">
                                        <i class="bi bi-dash-lg"></i>
                                    </span>
                                        <input type="text" class="quantity" id="product_quantity_input" placeholder="0" value="1">
                                    <span class="qty_btn product_quantity_add">
                                        <i class="bi bi-plus-lg"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="wish_button">
                                <a href="#"><i class="bi bi-heart"></i></a>
                            </div>
                            <div class="compare_button">
                                <a href="#"><i class="bi bi-bar-chart-line"></i></a>
                            </div>
                        </div>
                            
                        <div class="cart_button">
                            <a href="shop-cart.html" class="btn-three w-100">
                                <div class="btn-wrap">
                                    <span class="text-first">Add to Cart</span>
                                    <span class="text-second">Add to Cart</span>
                                </div>
                            </a>
                        </div>

                        <div class="product_view_bottom_credential">
                            <ul class="px-0 mb-0">
                                <li class="categories"><span>Category:</span> <a href="#">Parts</a></li>
                                <li class="sku"><span>SKU:</span> 07</li>
                                <li class="tags"><span>Tags:</span> <a href="#">Car</a> <a href="#">Filter</a> <a href="#">Parts</a></li>
                            </ul>
                        </div>
                        <div class="product_social_share">
                            <ul>
                                <li class="label_text">Share:</li>
                                <li><a href="#"><i class="bi bi-facebook"></i></a></li>
                                <li><a href="#"><i class="bi bi-twitter"></i></a></li>
                                <li><a href="#"><i class="bi bi-instagram"></i></a></li>
                                <li><a href="#"><i class="bi bi-youtube"></i></a></li>
                                <li><a href="#"><i class="bi bi-pinterest"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="product_details_section">							
        <div class="container">
            <div class="product_details_tab">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="active" data-bs-toggle="tab" href="#description">Description</a>
                    </li>
                    <li class="nav-item">
                        <a data-bs-toggle="tab" href="#information">Additional Information</a>
                    </li>
                    <li class="nav-item">
                        <a data-bs-toggle="tab" href="#reviews">Reviews (2)</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="description" tabindex="0">
                        <p>Senectus et netus et malesuada. Nunc pulvinar sapien et ligula ullamcorper malesuada proin. Neque convallis a cras semper auctor. Libero id faucibus nisl tincidunt eget. Leo a tempor id. A lacus vest ibulum sed arcu non odio euismod lacinia. In tellus integer feugiat sceleris que. Feugiat in ferme ntum posuere urna nec tincidunt praesent.</p> 
                        <p>Porttitor rhonc elementum facilisis. Nisi scelerisque eu ultrices vitae auctor eu augue ut lectusSenectus et netus et malesuada. Nunc pulvinar sapien et ligula ullamcorper malesuada proin. Ne semper auctor.</p>
                    </div>
                    <div class="tab-pane fade" id="information" tabindex="0">
                        <div class="product_additional_info">
                            <p class="mb-3">A lacus vestibulum sed arcu non odio euismod lacinia. In tellus integer feugiat scelerisque. Feugiat in fermentum posuere urna nec tincidunt praesent. Porttitor rhonc
                            elementum facilisis.</p>
                            <ul class="px-0 mb-0">
                                <li class="categories"><span>Category:</span> Car Filter</li>
                                <li class="sku"><span>Brand:</span> Honda</li>
                                <li class="tags"><span>Weight:</span> 400gm</li>
                            </ul>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="reviews" tabindex="0">
                        <div class="review_sec">
                            <h6 class="review_title">1 review for <a href="#">Product Name</a></h6>
                            <ul class="review_area">
                                <!-- First Review -->
                                <li class="blog_review_user">
                                    <div class="reviewer_div">
                                        <div class="reviewer">
                                            <img alt="img" src="/static/img/blog/commenter-1.jpg" class="avatar">
                                        </div>
                                        <div class="review_block">
                                            <div class="product_rating">
                                                <i class="bi bi-star-fill"></i>
                                                <i class="bi bi-star-fill"></i>
                                                <i class="bi bi-star-fill"></i>
                                                <i class="bi bi-star-half"></i>
                                                <i class="bi bi-star"></i>
                                            </div>
                                            <h4 class="reviewer_name">Adam Paul <span class="review_date">07/08/2022</span></h4>
                                            <p class="reviewer_review">Senectus et netus et malesuada. Nunc pulvinar sapien et ligula ullamcorper malesuada proin. Neque convallis a cras 
                                                semper auctor. Libero id faucibus nisl tincidunt eget. </p>
                                            
                                        </div>
                                    </div>
                                </li>

                                <!-- Second Review -->
                                <li class="blog_review_user">
                                    <div class="reviewer_div">
                                        <div class="reviewer">
                                            <img alt="img" src="/static/img/blog/commenter-2.jpg" class="avatar">
                                        </div>
                                        <div class="review_block">
                                            <div class="product_rating">
                                                <i class="bi bi-star-fill"></i>
                                                <i class="bi bi-star-fill"></i>
                                                <i class="bi bi-star-fill"></i>
                                                <i class="bi bi-star-half"></i>
                                                <i class="bi bi-star"></i>
                                            </div>
                                            <h4 class="reviewer_name">Belik Jam <span class="review_date">29/07/2022</span></h4>
                                            <p class="reviewer_review">As the world continues to fight COVID-19 some property owners are searching for way they can improve the security of their buildings.</p>
                                            
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <div class="wptb-pagination-wrap">
                                <ul class="pagination mt-0">
                                    <li><span class="page-number current">1</span></li>
                                    <li><a class="page-number" href="#">2</a></li>
                                    <li>.....</li>
                                    <li><a class="page-number" href="#">5</a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="review_form">
                            <div class="review_form_heading_wrapper">
                                <h4 class="review_form_title">Add a Review <span class="title-line"></span></h4>
                                <h6 class="review_form_sub_title">Your email address will not be published. Required fields are marked *</h6>
                                <h6 class="give_rating">Your Rating *</h6>
                                <div class="reviewer_rating">
                                    <i class="bi bi-star"></i>
                                    <i class="bi bi-star"></i>
                                    <i class="bi bi-star"></i>
                                    <i class="bi bi-star"></i>
                                    <i class="bi bi-star"></i>
                                </div>
                            </div>
                            <div class="comment-respond mt-4">
                                <form class="comment-form" action="https://wpthemebooster.com/demo/themeforest/html/ducatibox/register.php" method="post">
                                    <div class="form-container">
                                        <div class="row">
                                            <div class="col-md-12 col-lg-12">
                                                <div class="form-group">
                                                    <textarea name="message" class="form-control" placeholder="Text Here*" required=""></textarea>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-lg-6">
                                                <div class="form-group">
                                                    <input type="text" name="name" class="form-control" placeholder="Name*" required="">
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-lg-6">
                                                <div class="form-group">
                                                    <input type="email" name="email" class="form-control" placeholder="E-mail*" required="">
                                                </div>
                                            </div>
                                            <div class="col-md-12 col-lg-12">
                                                <div class="wptb-item--button">
                                                    <button type="submit" class="btn-three">
                                                        <div class="btn-wrap">
                                                            <span class="text-first">Submit</span>
                                                            <span class="text-second">Submit</span>
                                                        </div>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div> 
                        </div> 
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="related_products pd-bottom-300">							
        <div class="container">
            <h4 class="widget-title">Related Products</h4>
            <div class="product_view_grid product_col_4">

                <div class="product_item">
                    <div class="product_thumb">
                        <div class="product_imagebox">
                            <img class="primary_img" src="/static/img/shop/4.png" alt="img">
                            <div class="cart_button">
                                <a href="#" class="btn">
                                    Add to Cart 
                                </a>
                            </div>
                        </div>
                        <div class="product_item_inner">
                            <div class="label_text">
                                <h2 class="product_item_name"><a href="shop-product.html">Car disc brake</a></h2>
                                <div class="product_item_rating">
                                    <ul>
                                        <li><i class="bi bi-star-fill"></i></li>
                                        <li><i class="bi bi-star-fill"></i></li>
                                        <li><i class="bi bi-star-fill"></i></li>
                                        <li><i class="bi bi-star-fill"></i></li>
                                        <li><i class="bi bi-star-fill"></i></li>
                                    </ul>
                                </div>
                                <div class="product_item_price">$18</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="product_item">
                    <div class="product_thumb">
                        <span class="badge-new">Sale</span>
                        <div class="product_imagebox">
                            <img class="primary_img" src="/static/img/shop/1.png" alt="img">
                            <div class="cart_button">
                                <a href="#" class="btn">
                                    Add to Cart 
                                </a>
                            </div>
                        </div>
                        <div class="product_item_inner">
                            <div class="label_text">
                                <h2 class="product_item_name"><a href="shop-product.html">Oil Filters</a></h2>
                                <div class="product_item_rating">
                                    <ul>
                                        <li><i class="bi bi-star-fill"></i></li>
                                        <li><i class="bi bi-star-fill"></i></li>
                                        <li><i class="bi bi-star-fill"></i></li>
                                        <li><i class="bi bi-star-fill"></i></li>
                                        <li><i class="bi bi-star-fill"></i></li>
                                    </ul>
                                </div>
                                <div class="product_item_price">$45 <del class="old_price">$49.99</del></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="product_item">
                    <div class="product_thumb">
                        <div class="product_imagebox">
                            <img class="primary_img" src="/static/img/shop/2.png" alt="img">
                            <div class="cart_button">
                                <a href="#" class="btn">
                                    Add to Cart 
                                </a>
                            </div>
                        </div>
                        <div class="product_item_inner">
                            <div class="label_text">
                                <h2 class="product_item_name"><a href="shop-product.html">Transmission cog wheels</a></h2>
                                <div class="product_item_rating">
                                    <ul>
                                        <li><i class="bi bi-star-fill"></i></li>
                                        <li><i class="bi bi-star-fill"></i></li>
                                        <li><i class="bi bi-star-fill"></i></li>
                                        <li><i class="bi bi-star-fill"></i></li>
                                        <li><i class="bi bi-star-fill"></i></li>
                                    </ul>
                                </div>
                                <div class="product_item_price">$67</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="product_item">
                    <div class="product_thumb">
                        <div class="product_imagebox">
                            <img class="primary_img" src="/static/img/shop/3.png" alt="img">
                            <div class="cart_button">
                                <a href="#" class="btn">
                                    Add to Cart 
                                </a>
                            </div>
                        </div>
                        <div class="product_item_inner">
                            <div class="label_text">
                                <h2 class="product_item_name"><a href="shop-product.html">Starter motor</a></h2>
                                <div class="product_item_rating">
                                    <ul>
                                        <li><i class="bi bi-star-fill"></i></li>
                                        <li><i class="bi bi-star-fill"></i></li>
                                        <li><i class="bi bi-star-fill"></i></li>
                                        <li><i class="bi bi-star-fill"></i></li>
                                        <li><i class="bi bi-star-fill"></i></li>
                                    </ul>
                                </div>
                                <div class="product_item_price">$83 <del class="old_price">$88.99</del></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</main>

{% include 'footer.html' %} {% include 'script.html' %}