{% include 'header.html' %} {% load static %}

  <!-- Mobile Responsive Menu -->
  <div class="mr_menu">
    <button type="button" class="mr_menu_close"><i class="bi bi-x-lg"></i></button>
    <div class="logo"></div> <!-- Keep this div empty. Logo will come here by JavaScript -->
    <div class="mr_navmenu"></div> <!-- Keep this div empty. Menu will come here by JavaScript -->
</div>

<div class="aside_info_wrapper">
    <button class="aside_close"><i class="bi bi-x-lg"></i></button>
    <div class="aside_logo">
        <a href="index.html"><img src="/static/img/logo.svg" alt="logo"></a>
    </div>
    <div class="aside_info_inner">

        <p>When you bring your vehicle to Ducatibox Car Mechanic Center, you can rest easy knowing that your vehicle is in professional hands.</p>

        <div class="aside_info_inner_box">
            <div class="wptb-office">
                <div class="wptb-item--inner">
                    <div class="wptb-item--subtitle">
                        Call Us Anytime
                    </div>
                    <h5 class="wptb-item--title"><a href="tel:+12345677345">+123 45677345</a></h5>
                </div>
            </div>

            <div class="wptb-office">
                <div class="wptb-item--inner">
                    <div class="wptb-item--subtitle">
                        SEND US MAIL
                    </div>
                    <h5 class="wptb-item--title"><a href="mailto:ducatiboxcar@email.com">ducatiboxcar@email.com</a></h5>
                </div>
            </div>

            <div class="wptb-office">
                <div class="wptb-item--inner">
                    <div class="wptb-item--subtitle">
                        VISIT OUR WORKSHOP
                    </div>
                    <h5 class="wptb-item--title"><a href="#">17110 116th Ave SE Unit A
                        Renton, WA 98058-5055</a></h5>
                </div>
            </div>
        </div>
        <div class="social_sites">
            <ul class="d-flex align-items-center">
                <li><a href="#"><i class="bi bi-facebook"></i></a></li>
                <li><a href="#"><i class="bi bi-twitter-x"></i></a></li>
                <li><a href="#"><i class="bi bi-instagram"></i></a></li>
                <li><a href="#"><i class="bi bi-linkedin"></i></a></li>
            </ul>
        </div>
    </div>
</div>

<!-- Main Wrapper-->
<main class="wrapper">
    <!-- Page Header -->
    <div class="wptb-page-heading" style="background-image: url('/static/img/background/page-header-bg.jpg');">
        <div class="container">
            <div class="wptb-item--inner">
                <h2 class="wptb-item--title ">Blog List</h2>
                <div class="wptb-breadcrumb-wrap">
                    <ul class="wptb-breadcrumb">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Pages</a></li>
                        <li><span>Blog List</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- Blog Grid -->
    <section class="pd-bottom-300">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-12">
                    <div class="wptb-blog-grid2 wow fadeInLeft">
                        <div class="wptb-item--inner">
                            <div class="wptb-item--image">
                                <a href="blog-details.html" class="wptb-item-link"><img src="/static/img/blog/9.jpg" alt="img"></a>
                                <div class="wptb-item--date">July 19, 2023</div>
                            </div>
                            <div class="wptb-item--holder">
                                
                                <div class="wptb-item--box">
                                    <div class="wptb-item--category"><a href="#">Fitness</a></div>
                                    <h3 class="wptb-item--title"><a href="blog-details.html">What are the first steps when your car breakdown middle of the road</a></h3>
                                    <div class="wptb-item--author">By <a href="#">Marina Willums</a></div>
                                </div>
                                
                                <div class="wptb-item--meta">
                                    <div class="wptb-item--meta-right">
                                        <div class="wptb-item--comments"><a href="#comments"><i class="bi bi-chat-left-dots"></i> 243 Comments</a></div>
                                        <div class="wptb-item--share"><a href="#"><i class="bi bi-reply-fill"></i></a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="wptb-blog-grid2 wow fadeInLeft">
                        <div class="wptb-item--inner">
                            <div class="wptb-item--image">
                                <a href="blog-details.html" class="wptb-item-link"><img src="/static/img/blog/10.jpg" alt="img"></a>
                                <div class="wptb-item--date">July 19, 2023</div>
                            </div>
                            <div class="wptb-item--holder">
                                
                                <div class="wptb-item--box">
                                    <div class="wptb-item--category"><a href="#">Car</a></div>
                                    <h3 class="wptb-item--title"><a href="blog-details.html">Thing you should know about basic car parts before
                                        buying a car</a></h3>
                                    <div class="wptb-item--author">By <a href="#">Marina Willums</a></div>
                                </div>
                                
                                <div class="wptb-item--meta">
                                    <div class="wptb-item--meta-right">
                                        <div class="wptb-item--comments"><a href="#comments"><i class="bi bi-chat-left-dots"></i> 243 Comments</a></div>
                                        <div class="wptb-item--share"><a href="#"><i class="bi bi-reply-fill"></i></a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="wptb-blog-grid2 wow fadeInLeft">
                        <div class="wptb-item--inner">
                            <div class="wptb-item--image">
                                <a href="blog-details.html" class="wptb-item-link"><img src="/static/img/blog/11.jpg" alt="img"></a>
                                <div class="wptb-item--date">July 19, 2023</div>
                            </div>
                            <div class="wptb-item--holder">
                                
                                <div class="wptb-item--box">
                                    <div class="wptb-item--category"><a href="#">Fitness</a></div>
                                    <h3 class="wptb-item--title"><a href="blog-details.html">Do’s & Don’ts when you are trying to change flat
                                        tires of your car</a></h3>
                                    <div class="wptb-item--author">By <a href="#">Marina Willums</a></div>
                                </div>
                                
                                <div class="wptb-item--meta">
                                    <div class="wptb-item--meta-right">
                                        <div class="wptb-item--comments"><a href="#comments"><i class="bi bi-chat-left-dots"></i> 243 Comments</a></div>
                                        <div class="wptb-item--share"><a href="#"><i class="bi bi-reply-fill"></i></a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="wptb-blog-grid2 wow fadeInLeft">
                        <div class="wptb-item--inner">
                            <div class="wptb-item--image">
                                <a href="blog-details.html" class="wptb-item-link"><img src="/static/img/blog/12.jpg" alt="img"></a>
                                <div class="wptb-item--date">July 19, 2023</div>
                            </div>
                            <div class="wptb-item--holder">
                                
                                <div class="wptb-item--box">
                                    <div class="wptb-item--category"><a href="#">Repair</a></div>
                                    <h3 class="wptb-item--title"><a href="blog-details.html">How to be a good mechanic? Our expert tips
                                        and tricks for newcomers</a></h3>
                                    <div class="wptb-item--author">By <a href="#">Marina Willums</a></div>
                                </div>
                                
                                <div class="wptb-item--meta">
                                    <div class="wptb-item--meta-right">
                                        <div class="wptb-item--comments"><a href="#comments"><i class="bi bi-chat-left-dots"></i> 243 Comments</a></div>
                                        <div class="wptb-item--share"><a href="#"><i class="bi bi-reply-fill"></i></a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="wptb-blog-grid2 wow fadeInLeft">
                        <div class="wptb-item--inner">
                            <div class="wptb-item--image">
                                <a href="blog-details.html" class="wptb-item-link"><img src="/static/img/blog/9.jpg" alt="img"></a>
                                <div class="wptb-item--date">July 19, 2023</div>
                            </div>
                            <div class="wptb-item--holder">
                                
                                <div class="wptb-item--box">
                                    <div class="wptb-item--category"><a href="#">Training</a></div>
                                    <h3 class="wptb-item--title"><a href="blog-details.html">How speed of your car affect the fitness of your
                                        car pars & engine</a></h3>
                                    <div class="wptb-item--author">By <a href="#">Marina Willums</a></div>
                                </div>
                                
                                <div class="wptb-item--meta">
                                    <div class="wptb-item--meta-right">
                                        <div class="wptb-item--comments"><a href="#comments"><i class="bi bi-chat-left-dots"></i> 243 Comments</a></div>
                                        <div class="wptb-item--share"><a href="#"><i class="bi bi-reply-fill"></i></a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="wptb-blog-grid2 wow fadeInLeft">
                        <div class="wptb-item--inner">
                            <div class="wptb-item--image">
                                <a href="blog-details.html" class="wptb-item-link"><img src="/static/img/blog/10.jpg" alt="img"></a>
                                <div class="wptb-item--date">July 19, 2023</div>
                            </div>
                            <div class="wptb-item--holder">
                                
                                <div class="wptb-item--box">
                                    <div class="wptb-item--category"><a href="#">Fitness</a></div>
                                    <h3 class="wptb-item--title"><a href="blog-details.html">What are the first steps when your car breakdown middle of the road</a></h3>
                                    <div class="wptb-item--author">By <a href="#">Marina Willums</a></div>
                                </div>
                                
                                <div class="wptb-item--meta">
                                    <div class="wptb-item--meta-right">
                                        <div class="wptb-item--comments"><a href="#comments"><i class="bi bi-chat-left-dots"></i> 243 Comments</a></div>
                                        <div class="wptb-item--share"><a href="#"><i class="bi bi-reply-fill"></i></a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="wptb-blog-grid2 wow fadeInLeft">
                        <div class="wptb-item--inner">
                            <div class="wptb-item--image">
                                <a href="blog-details.html" class="wptb-item-link"><img src="/static/img/blog/11.jpg" alt="img"></a>
                                <div class="wptb-item--date">July 19, 2023</div>
                            </div>
                            <div class="wptb-item--holder">
                                
                                <div class="wptb-item--box">
                                    <div class="wptb-item--category"><a href="#">Fitness</a></div>
                                    <h3 class="wptb-item--title"><a href="blog-details.html">How speed of your car affect the fitness of your
                                        car pars & engine</a></h3>
                                    <div class="wptb-item--author">By <a href="#">Marina Willums</a></div>
                                </div>
                                
                                <div class="wptb-item--meta">
                                    <div class="wptb-item--meta-right">
                                        <div class="wptb-item--comments"><a href="#comments"><i class="bi bi-chat-left-dots"></i> 243 Comments</a></div>
                                        <div class="wptb-item--share"><a href="#"><i class="bi bi-reply-fill"></i></a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="wptb-blog-grid2 wow fadeInLeft">
                        <div class="wptb-item--inner">
                            <div class="wptb-item--image">
                                <a href="blog-details.html" class="wptb-item-link"><img src="/static/img/blog/12.jpg" alt="img"></a>
                                <div class="wptb-item--date">July 19, 2023</div>
                            </div>
                            <div class="wptb-item--holder">
                                
                                <div class="wptb-item--box">
                                    <div class="wptb-item--category"><a href="#">Servicing</a></div>
                                    <h3 class="wptb-item--title"><a href="blog-details.html">Job opportunities for car detailing & car servicing
                                        experts 2023</a></h3>
                                    <div class="wptb-item--author">By <a href="#">Marina Willums</a></div>
                                </div>
                                
                                <div class="wptb-item--meta">
                                    <div class="wptb-item--meta-right">
                                        <div class="wptb-item--comments"><a href="#comments"><i class="bi bi-chat-left-dots"></i> 243 Comments</a></div>
                                        <div class="wptb-item--share"><a href="#"><i class="bi bi-reply-fill"></i></a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="wptb-pagination-wrap text-center">
                        <ul class="pagination">
                            <li><a class="disabled page-number previous" href="#"><i class="bi bi-chevron-left"></i></a></li>
                            <li><span class="page-number current">1</span></li>
                            <li><a class="page-number" href="#">2</a></li>
                            <li><a class="page-number" href="#">3</a></li>
                            <li>.....</li>
                            <li><a class="page-number" href="#">9</a></li>
                            <li><a class="page-number next" href="#"><i class="bi bi-chevron-right"></i></a></li>
                        </ul>
                    </div>
                </div>

                <!-- Sidebar  -->
                <div class="col-lg-4 col-md-8 mt-5 mt-lg-0 ps-lg-5">

                    <div class="sidebar">
                        
                        <div class="widget widget_block widget_search">
                            <form method="get" class="wp-block-search">
                                <div class="wp-block-search__inside-wrapper ">
                                    <input type="search" class="wp-block-search__input" name="search" value="" placeholder="Search" required="">
                                    <button type="submit" class="wp-block-search__button"><i class="bi bi-search"></i></button>
                                </div>
                            </form>
                        </div>
                        <!-- end widget -->

                        <div class="widget widget_block widget_custom">
                            <h2 class="widget-title">About Author</h2>
                            <div class="sidebar_author">
                                <img src="/static/img/blog/author-2.jpg" alt="img">
                                <p class="intro">Sed ut perspiciatis unde omnis iste natus err or sit voluptatem accusantium dolore mque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt</p>
                                <div class="author_social">
                                    <ul>
                                        <li><a href="#"><i class="bi bi-facebook"></i></a></li>
                                        <li><a href="#"><i class="bi bi-twitter-x"></i></a></li>
                                        <li><a href="#"><i class="bi bi-pinterest"></i></a></li>
                                        <li><a href="#"><i class="bi bi-instagram"></i></a></li>
                                        <li><a href="#"><i class="bi bi-linkedin"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- end widget -->

                        <div class="widget widget_block">
                            <h2 class="widget-title">
                                Archive
                            </h2>
                            <div class="sidebar_brand"> 
                                <form action="https://wpthemebooster.com/demo/themeforest/html/ducatibox/checkout.php" method="post">
                                    <div class="form-check">
                                        <label for="checkbox1">2023 (32)</label>
                                        <input type="checkbox" class="form-check-input" id="checkbox1" name="checkbox1" value="">
                                    </div>                                
                                    <div class="form-check">
                                        <label for="checkbox2">2022 (09)</label>
                                        <input type="checkbox" class="form-check-input" id="checkbox2" name="checkbox2" checked value="">
                                    </div>
                                    <div class="form-check">
                                        <label for="checkbox3">2021 (02)</label>
                                        <input type="checkbox" class="form-check-input" id="checkbox3" name="checkbox3" value="">
                                    </div>
                                    <div class="form-check">
                                        <label for="checkbox4">2020 (12)</label>
                                        <input type="checkbox" class="form-check-input" id="checkbox4" name="checkbox4" value="">
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- end widget -->

                        <div class="widget widget_block">
                            <div class="wp-block-group__inner-container">
                                <h2 class="widget-title">Categories</h2>
                                <ul class="wp-block-categories-list wp-block-categories">
                                    <li class="cat-item"><a href="#">AUTOMOBILE</a> (10)</li>
                                    <li class="cat-item"><a href="#">TUNING</a> (12)</li>
                                    <li class="cat-item"><a href="#">MECHANIC</a> (08)</li>
                                    <li class="cat-item"><a href="#">CAR PARTS</a> (15)</li>
                                    <li class="cat-item"><a href="#">TIPS & TRICKS</a> (21)</li>
                                </ul>
                            </div>
                        </div>
                        <!-- end widget -->

                        <div class="widget widget_block">
                            <div class="wp-block-group__inner-container">
                                <h2 class="widget-title">Recent Posts</h2>
                                <ul class="wp-block-latest-posts__list wp-block-latest-posts">
                                    <li>
                                        <div class="latest-posts-image">
                                            <img src="/static/img/blog/9.jpg" alt="img">
                                        </div>
                                        <div class="latest-posts-content">
                                            <h5><a href="blog.html">What are the first steps when your car breakdown middle of the road</a></h5>
                                            <h6>02/11/2023</h6>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="latest-posts-image">
                                            <img src="/static/img/blog/10.jpg" alt="img">
                                        </div>
                                        <div class="latest-posts-content">
                                            <h5><a href="blog.html">Thing you should know
                                                about basic car parts
                                                before buying a car</a></h5>
                                            <h6>12/11/2023</h6>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="latest-posts-image">
                                            <img src="/static/img/blog/11.jpg" alt="img">
                                        </div>
                                        <div class="latest-posts-content">
                                            <h5><a href="blog.html">Do’s & Don’ts when you are trying to change flat tires of your car</a></h5>
                                            <h6>02/10/2023</h6>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- end widget -->

                        <div class="widget widget_block">
                            <h2 class="widget-title">
                                Product Tag
                            </h2>
                            <div class="wp-block-tag-list wp-block-tag">
                                <a href="#" class="tag-cloud-link">Automobile</a>
                                <a href="#" class="tag-cloud-link">Engine</a>
                                <a href="#" class="tag-cloud-link">Carwash</a>
                                <a href="#" class="tag-cloud-link">Detailing</a>
                                <a href="#" class="tag-cloud-link">Mechanic</a>
                                <a href="#" class="tag-cloud-link">Motor</a>
                                <a href="#" class="tag-cloud-link">Speed</a>
                            </div>
                        </div>
                        <!-- end widget -->
                    </div>
                </div>
            </div>
        </div>
    </section>

</main>
{% include 'footer.html' %} {% include 'script.html' %}