{% include 'header.html' %} {% load static %}
<!-- Mobile Responsive Menu -->
<div class="mr_menu">
    <button type="button" class="mr_menu_close"><i class="bi bi-x-lg"></i></button>
    <div class="logo"></div> <!-- Keep this div empty. Logo will come here by JavaScript -->
    <div class="mr_navmenu"></div> <!-- Keep this div empty. Menu will come here by JavaScript -->
</div>

<div class="aside_info_wrapper">
    <button class="aside_close"><i class="bi bi-x-lg"></i></button>
    <div class="aside_logo">
        <a href="index.html"><img src="{% static 'img/logo.svg' %}" alt="logo"></a>
    </div>
    <div class="aside_info_inner">

        <p>When you bring your vehicle to Ducatibox Car Mechanic Center, you can rest easy knowing that your vehicle is in professional hands.</p>

        <div class="aside_info_inner_box">
            <div class="wptb-office">
                <div class="wptb-item--inner">
                    <div class="wptb-item--subtitle">
                        Call Us Anytime
                    </div>
                    <h5 class="wptb-item--title"><a href="tel:+12345677345">+123 45677345</a></h5>
                </div>
            </div>

            <div class="wptb-office">
                <div class="wptb-item--inner">
                    <div class="wptb-item--subtitle">
                        SEND US MAIL
                    </div>
                    <h5 class="wptb-item--title"><a href="mailto:ducatiboxcar@email.com">ducatiboxcar@email.com</a></h5>
                </div>
            </div>

            <div class="wptb-office">
                <div class="wptb-item--inner">
                    <div class="wptb-item--subtitle">
                        VISIT OUR WORKSHOP
                    </div>
                    <h5 class="wptb-item--title"><a href="#">17110 116th Ave SE Unit A
                        Renton, WA 98058-5055</a></h5>
                </div>
            </div>
        </div>
        <div class="social_sites">
            <ul class="d-flex align-items-center">
                <li><a href="#"><i class="bi bi-facebook"></i></a></li>
                <li><a href="#"><i class="bi bi-twitter-x"></i></a></li>
                <li><a href="#"><i class="bi bi-instagram"></i></a></li>
                <li><a href="#"><i class="bi bi-linkedin"></i></a></li>
            </ul>
        </div>
    </div>
</div>

<!-- Main Wrapper-->
<main class="wrapper">
    <!-- Page Header -->
    <div class="wptb-page-heading" style="background-image: url('static/img/background/page-header-bg.jpg');">
        <div class="container">
            <div class="wptb-item--inner">
                <h2 class="wptb-item--title ">Our Services</h2>
                <div class="wptb-breadcrumb-wrap">
                    <ul class="wptb-breadcrumb">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Pages</a></li>
                        <li><span>Our Services</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- Our Services -->
    <section class="pd-bottom-300">
        <div class="container">

            <div class="wptb-service--inner">
                <div class="row">
                    <div class="col-lg-3 col-sm-6">
                        <div class="wptb-image-box2 active highlight wow fadeInLeft">
                            <div class="wptb-item--inner">
                                <div class="wptb-item--image">
                                    <img src="assets/img/services/10.jpg" alt="img">
                                </div>
                                <div class="wptb-item--holder">
                                    <div class="wptb-item--wrap-content">
                                        <div class="wptb-item--icon">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="53" height="13" viewBox="0 0 53 13" fill="none">
                                                <g clip-path="url(#clip0_1_28160)">
                                                  <path d="M24.0596 0H16.9192L3.78125 12.5875H10.9217L24.0596 0Z" fill="#D70006"/>
                                                  <path d="M37.8565 0H30.7161L17.5781 12.5875H24.7186L37.8565 0Z" fill="#D70006"/>
                                                  <path d="M51.6495 0H44.5029L31.3711 12.5875H38.5054L51.6495 0Z" fill="#D70006"/>
                                                </g>
                                                <defs>
                                                  <clipPath>
                                                    <rect width="53" height="12.5875" fill="white"/>
                                                  </clipPath>
                                                </defs>
                                            </svg>
                                        </div>
                                        <h2 class="wptb-item--title"><a href="service-details.html">Engine Oil Changing</a></h2>
                                        
                                        <div class="wptb-item--button"> 
                                            <a class="btn-three" href="service-details.html"> 
                                                <span class="btn-wrap">
                                                    <span class="text-first">Learn More</span>
                                                    <span class="text-second"><i class="bi bi-arrow-right"></i></span>
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                
                    <div class="col-lg-3 col-sm-6">
                        <div class="wptb-image-box2 wow fadeInLeft">
                            <div class="wptb-item--inner">
                                <div class="wptb-item--image">
                                    <img src="assets/img/services/11.jpg" alt="img">
                                </div>
                                <div class="wptb-item--holder">
                                    <div class="wptb-item--wrap-content">
                                        <div class="wptb-item--icon">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="53" height="13" viewBox="0 0 53 13" fill="none">
                                                <g clip-path="url(#clip0_1_28160)">
                                                  <path d="M24.0596 0H16.9192L3.78125 12.5875H10.9217L24.0596 0Z" fill="#D70006"/>
                                                  <path d="M37.8565 0H30.7161L17.5781 12.5875H24.7186L37.8565 0Z" fill="#D70006"/>
                                                  <path d="M51.6495 0H44.5029L31.3711 12.5875H38.5054L51.6495 0Z" fill="#D70006"/>
                                                </g>
                                                <defs>
                                                  <clipPath>
                                                    <rect width="53" height="12.5875" fill="white"/>
                                                  </clipPath>
                                                </defs>
                                            </svg>
                                        </div>
                                        <h2 class="wptb-item--title"><a href="service-details.html">Ceramic Coating Services</a></h2>
                                        
                                        <div class="wptb-item--button"> 
                                            <a class="btn-three" href="service-details.html"> 
                                                <span class="btn-wrap">
                                                    <span class="text-first">Learn More</span>
                                                    <span class="text-second"><i class="bi bi-arrow-right"></i></span>
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                
                    <div class="col-lg-3 col-sm-6">
                        <div class="wptb-image-box2 wow fadeInLeft">
                            <div class="wptb-item--inner">
                                <div class="wptb-item--image">
                                    <img src="assets/img/services/12.jpg" alt="img">
                                </div>
                                <div class="wptb-item--holder">
                                    <div class="wptb-item--wrap-content">
                                        <div class="wptb-item--icon">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="53" height="13" viewBox="0 0 53 13" fill="none">
                                                <g clip-path="url(#clip0_1_28160)">
                                                  <path d="M24.0596 0H16.9192L3.78125 12.5875H10.9217L24.0596 0Z" fill="#D70006"/>
                                                  <path d="M37.8565 0H30.7161L17.5781 12.5875H24.7186L37.8565 0Z" fill="#D70006"/>
                                                  <path d="M51.6495 0H44.5029L31.3711 12.5875H38.5054L51.6495 0Z" fill="#D70006"/>
                                                </g>
                                                <defs>
                                                  <clipPath>
                                                    <rect width="53" height="12.5875" fill="white"/>
                                                  </clipPath>
                                                </defs>
                                            </svg>
                                        </div>
                                        <h2 class="wptb-item--title"><a href="service-details.html">Engine Repair Services</a></h2>
                                        
                                        <div class="wptb-item--button"> 
                                            <a class="btn-three" href="service-details.html"> 
                                                <span class="btn-wrap">
                                                    <span class="text-first">Learn More</span>
                                                    <span class="text-second"><i class="bi bi-arrow-right"></i></span>
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                
                    <div class="col-lg-3 col-sm-6">
                        <div class="wptb-image-box2 wow fadeInLeft">
                            <div class="wptb-item--inner">
                                <div class="wptb-item--image">
                                    <img src="assets/img/services/11.jpg" alt="img">
                                </div>
                                <div class="wptb-item--holder">
                                    <div class="wptb-item--wrap-content">
                                        <div class="wptb-item--icon">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="53" height="13" viewBox="0 0 53 13" fill="none">
                                                <g clip-path="url(#clip0_1_28160)">
                                                  <path d="M24.0596 0H16.9192L3.78125 12.5875H10.9217L24.0596 0Z" fill="#D70006"/>
                                                  <path d="M37.8565 0H30.7161L17.5781 12.5875H24.7186L37.8565 0Z" fill="#D70006"/>
                                                  <path d="M51.6495 0H44.5029L31.3711 12.5875H38.5054L51.6495 0Z" fill="#D70006"/>
                                                </g>
                                                <defs>
                                                  <clipPath>
                                                    <rect width="53" height="12.5875" fill="white"/>
                                                  </clipPath>
                                                </defs>
                                            </svg>
                                        </div>
                                        <h2 class="wptb-item--title"><a href="service-details.html">Ceramic Coating Services</a></h2>
                                        
                                        <div class="wptb-item--button"> 
                                            <a class="btn-three" href="service-details.html"> 
                                                <span class="btn-wrap">
                                                    <span class="text-first">Learn More</span>
                                                    <span class="text-second"><i class="bi bi-arrow-right"></i></span>
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                
                    <div class="col-lg-3 col-sm-6">
                        <div class="wptb-image-box2 wow fadeInLeft">
                            <div class="wptb-item--inner">
                                <div class="wptb-item--image">
                                    <img src="assets/img/services/11.jpg" alt="img">
                                </div>
                                <div class="wptb-item--holder">
                                    <div class="wptb-item--wrap-content">
                                        <div class="wptb-item--icon">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="53" height="13" viewBox="0 0 53 13" fill="none">
                                                <g clip-path="url(#clip0_1_28160)">
                                                  <path d="M24.0596 0H16.9192L3.78125 12.5875H10.9217L24.0596 0Z" fill="#D70006"/>
                                                  <path d="M37.8565 0H30.7161L17.5781 12.5875H24.7186L37.8565 0Z" fill="#D70006"/>
                                                  <path d="M51.6495 0H44.5029L31.3711 12.5875H38.5054L51.6495 0Z" fill="#D70006"/>
                                                </g>
                                                <defs>
                                                  <clipPath>
                                                    <rect width="53" height="12.5875" fill="white"/>
                                                  </clipPath>
                                                </defs>
                                            </svg>
                                        </div>
                                        <h2 class="wptb-item--title"><a href="service-details.html">Ceramic Coating Services</a></h2>
                                        
                                        <div class="wptb-item--button"> 
                                            <a class="btn-three" href="service-details.html"> 
                                                <span class="btn-wrap">
                                                    <span class="text-first">Learn More</span>
                                                    <span class="text-second"><i class="bi bi-arrow-right"></i></span>
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                
                    <div class="col-lg-3 col-sm-6">
                        <div class="wptb-image-box2 wow fadeInLeft">
                            <div class="wptb-item--inner">
                                <div class="wptb-item--image">
                                    <img src="assets/img/services/12.jpg" alt="img">
                                </div>
                                <div class="wptb-item--holder">
                                    <div class="wptb-item--wrap-content">
                                        <div class="wptb-item--icon">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="53" height="13" viewBox="0 0 53 13" fill="none">
                                                <g clip-path="url(#clip0_1_28160)">
                                                  <path d="M24.0596 0H16.9192L3.78125 12.5875H10.9217L24.0596 0Z" fill="#D70006"/>
                                                  <path d="M37.8565 0H30.7161L17.5781 12.5875H24.7186L37.8565 0Z" fill="#D70006"/>
                                                  <path d="M51.6495 0H44.5029L31.3711 12.5875H38.5054L51.6495 0Z" fill="#D70006"/>
                                                </g>
                                                <defs>
                                                  <clipPath>
                                                    <rect width="53" height="12.5875" fill="white"/>
                                                  </clipPath>
                                                </defs>
                                            </svg>
                                        </div>
                                        <h2 class="wptb-item--title"><a href="service-details.html">Engine Repair Services</a></h2>
                                        
                                        <div class="wptb-item--button"> 
                                            <a class="btn-three" href="service-details.html"> 
                                                <span class="btn-wrap">
                                                    <span class="text-first">Learn More</span>
                                                    <span class="text-second"><i class="bi bi-arrow-right"></i></span>
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-lg-3 col-sm-6">
                        <div class="wptb-image-box2 active highlight wow fadeInLeft">
                            <div class="wptb-item--inner">
                                <div class="wptb-item--image">
                                    <img src="assets/img/services/10.jpg" alt="img">
                                </div>
                                <div class="wptb-item--holder">
                                    <div class="wptb-item--wrap-content">
                                        <div class="wptb-item--icon">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="53" height="13" viewBox="0 0 53 13" fill="none">
                                                <g clip-path="url(#clip0_1_28160)">
                                                  <path d="M24.0596 0H16.9192L3.78125 12.5875H10.9217L24.0596 0Z" fill="#D70006"/>
                                                  <path d="M37.8565 0H30.7161L17.5781 12.5875H24.7186L37.8565 0Z" fill="#D70006"/>
                                                  <path d="M51.6495 0H44.5029L31.3711 12.5875H38.5054L51.6495 0Z" fill="#D70006"/>
                                                </g>
                                                <defs>
                                                  <clipPath>
                                                    <rect width="53" height="12.5875" fill="white"/>
                                                  </clipPath>
                                                </defs>
                                            </svg>
                                        </div>
                                        <h2 class="wptb-item--title"><a href="service-details.html">Engine Oil Changing</a></h2>
                                        
                                        <div class="wptb-item--button"> 
                                            <a class="btn-three" href="service-details.html"> 
                                                <span class="btn-wrap">
                                                    <span class="text-first">Learn More</span>
                                                    <span class="text-second"><i class="bi bi-arrow-right"></i></span>
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                
                    <div class="col-lg-3 col-sm-6">
                        <div class="wptb-image-box2 wow fadeInLeft">
                            <div class="wptb-item--inner">
                                <div class="wptb-item--image">
                                    <img src="assets/img/services/11.jpg" alt="img">
                                </div>
                                <div class="wptb-item--holder">
                                    <div class="wptb-item--wrap-content">
                                        <div class="wptb-item--icon">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="53" height="13" viewBox="0 0 53 13" fill="none">
                                                <g clip-path="url(#clip0_1_28160)">
                                                  <path d="M24.0596 0H16.9192L3.78125 12.5875H10.9217L24.0596 0Z" fill="#D70006"/>
                                                  <path d="M37.8565 0H30.7161L17.5781 12.5875H24.7186L37.8565 0Z" fill="#D70006"/>
                                                  <path d="M51.6495 0H44.5029L31.3711 12.5875H38.5054L51.6495 0Z" fill="#D70006"/>
                                                </g>
                                                <defs>
                                                  <clipPath>
                                                    <rect width="53" height="12.5875" fill="white"/>
                                                  </clipPath>
                                                </defs>
                                            </svg>
                                        </div>
                                        <h2 class="wptb-item--title"><a href="service-details.html">Ceramic Coating Services</a></h2>
                                        
                                        <div class="wptb-item--button"> 
                                            <a class="btn-three" href="service-details.html"> 
                                                <span class="btn-wrap">
                                                    <span class="text-first">Learn More</span>
                                                    <span class="text-second"><i class="bi bi-arrow-right"></i></span>
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="wptb-pagination-wrap text-center">
                <ul class="pagination">
                    <li><a class="disabled page-number previous" href="#"><i class="bi bi-chevron-left"></i></a></li>
                    <li><span class="page-number current">1</span></li>
                    <li><a class="page-number" href="#">2</a></li>
                    <li><a class="page-number" href="#">3</a></li>
                    <li>.....</li>
                    <li><a class="page-number" href="#">9</a></li>
                    <li><a class="page-number next" href="#"><i class="bi bi-chevron-right"></i></a></li>
                </ul>
            </div>
        </div>
    </section>

</main>

{% include 'footer.html' %} {% include 'script.html' %}